//====================================================================================================
.footer {

    &__container {}

    &__body {
        padding: 15px 0px 7px 0px;
        margin: 0 auto;
    }

    &__text {
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 353px;
        margin: 0 auto;
    }
}

//====================================================================================================